# Configuration Email
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe-app

# Clé secrète JWT
JWT_SECRET=votre-cle-secrete-jwt

# Configuration MongoDB
MONGODB_URI=mongodb://localhost:27017/ats_database 